//- トップページ
extends layout

block content
  .container(role="main")
    .jumbotron
      h1 Angola ver.#{version}

    .row
      .col-md-6
        a.btn.btn-lg.btn-primary.btn-block(href="/search") 調査を行う
      .col-md-6
        a.btn.btn-lg.btn-primary.btn-block.disabled(href="/monitor") [WIP]監視する
