//- トップページ
extends layout

block content
  .container(role="main")
    .jumbotron
      h1 #{title}

    .row
      .col-md-6
        .panel.panel-default
          .panel-body.text-center
            a.btn.btn-lg(href="/search") 調査を行う
      .col-md-6
        .panel.panel-default
          .panel-body.text-center
            a.btn.btn-lg.disabled(href="#") [WIP]監視する
