.form-group.clearfix
  label.col-sm-3.col-md-2.control-label.text-right(for="target-highlight")
    span.glyphicon.glyphicon-star(aria-hidden="true")
    |ハイライト
  .col-sm-9.col-md-10
    input#target-highlight.form-control.input-sm(type="text",placeholder="ERROR")
